<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let tempProduct of products" class="col-sm-4 col-md-3">
                <div class="product-card">
                    <a routerLink="/products/{{ tempProduct.id }}">
                        <img class="col-sm-12" src="{{ tempProduct.imageUrl }}"/>
                    </a>
                    <div class="product-card-info">
                        <a routerLink="/products/{{ tempProduct.id }}">
                            <h6>{{ tempProduct.name }}</h6>
                        </a>
                        <p>{{ tempProduct.unitWeight }}g</p>
                        <p class="price">{{ tempProduct.unitPrice }}:-</p>
                        <button (click)="addToCart(tempProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>
            </div>
            <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                No products found.
            </div>
        </div>
    </div>
</div>