<div class="container-fluid">
    <div *ngIf="cartItems.length > 0">
    
        <table class="table">
            <tr>
                <th width="20%"></th>
                <th width="50%"></th>
                <th width="20%"></th>
            </tr>

            <tr *ngFor="let tempCartItem of cartItems">
                <td>
                    <img src="{{ tempCartItem.imgUrl }}" width="150px">
                </td>
                <td>
                    <p>{{ tempCartItem.name }}</p>
                    <p>{{ tempCartItem.unitWeight }}g</p>
                    <p>{{ tempCartItem.unitPrice }}:-</p>
                </td>
                <td>
                    <div class="items">
                        <label>Quantity:</label>

                        <div class="row no-gutters">
                            <div class="col">
                                <button (click)="incrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>

                            <div class="col ml-3">
                                {{ tempCartItem.quantity }}
                            </div>

                            <div class="col">
                                <button (click)="decrementQuantity(tempCartItem)" class="btn btn-primary btn-sm">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            
                            

                        </div>
                    </div>

                    <button (click)="remove(tempCartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>

                    <p class="mt-2">Subtotal: {{ tempCartItem.quantity * tempCartItem.unitPrice }}:-</p>
                </td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td style="font-weight: bold;">
                    <p>Total Quantity: {{ totalQuantity }}st</p>
                    <p>Total Price: {{ totalPrice }}:-</p>
                    <a routerLink="/checkout" class="btn btn-primary btn-sm">Checkout</a>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="cartItems.length == 0" class="alert alert-warning col-sm-12" role="alert">
        Your cart is empty.
    </div>

    <a routerLink="/products" class="mt-5">Back to Product List</a>
</div>
