<div class="page-content">
  <header class="header">
    <div class="header-content">
        <div class="header-wrap">
          <form>
            <input class="search-input" type="text" name="search" placeholder="Search for product ..." />
            <button class="search-btn" type="submit">
              Search
            </button>
          </form>
          <div class="cart-content">
            <a href="#">
              <div class="total">total:-<span>st</span></div>
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </div>
        </div>
    </div>
  </header>

  <app-product-list></app-product-list>
</div>